/*@import url("https://cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");*/
p {
/*	border-width: 2px;
	border-style: solid;
	border-color: red;*/

	/*border: 2px solid red;*/

	/*margin-top: 30px;
	margin-right: 15px;
	margin-bottom: 30px;
	margin-left: 15px;*/

	/*margin: 30px 15px;*/
}

.left-block {
	width: 570px;
	height: 200px;
	background-color: lightblue;
	display: inline-block;
	margin-right: 29px;
	padding: 13px 21px 24px 15px;
	vertical-align: top;
}
.right-block {
	width: 570px;
	height: 200px;
	background-color: yellow;
	display: inline-block;
	padding: 13px 21px 24px 15px;
	vertical-align: top;
}
.container-block {
	width: 1170px;
/*	margin-right: auto;
	margin-left: auto;*/
	margin: 0 auto;
}

/*fonts*/
.kartuli-absoluturi {
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.kartuli-relatiuri {
	font-family: 'ALK Life';
}
.latinuir-absoluturi {
	font-family: 'Sigmar One', cursive;
}
.latinuri-relatiuri {
	font-family: 'Roboto';
}